/*
    Color variable file used in the project 
*/

$primary: #ef3a5d;
$white: #ffffff;
$blue-pool: #2cc9ff;
$blue: #048afe;
$light-gray-container: #eeeeee;
$dark-gray-font: #252525;
$light-gray-font: #6b6b6b;
$light-gray-font2: #bbbbbb;
$input-border: #d6d6d6;
$box-border: #e9e9e9;
$error-msg: #e21313;
$box-shadow-btn: rgba(150, 150, 150, 0.6);
$gradient-loading: rgba(185, 185, 185, 0.25)